<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>电竞助手</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <h2>玩家信息</h1>
                <hr>
                <div class="col-md-10 col-md-offset-1">
                    <p>姓名：李四</p>
                    <p>ID:8898974</p>
                    <p>场次：1000</p>
                    <p>胜率：57%</p>
                </div>
        </div>
        <div class="row">
            <h2>选手比赛视频</h1>
                <hr>
                <div class="container">
                    <ul>
                        <li>比赛视频1
                            <a type="button" href="/video" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>比赛视频2
                            <a type="button" href="/video" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>比赛视频3
                            <a type="button" href="/video" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>比赛视频4
                            <a type="button" href="/video" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>