<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
    <title>电竞助手</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public//stylesheets/style.css"> </head>

<body style="background: #eae9e9">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default guess-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">竞猜结果</h3> </div>
                <div class="panel-body">
                    <table class="table">
                        <thead style="background: #e03d3d">
                            <tr>
                                <th>时间</th>
                                <th>比赛</th>
                                <th>投注内容</th>
                                <th>开奖结果</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2017-11-08 
                                    <br>03:30
                                </td>
                                <td>
                                    <span>科比很吊</span>
                                    <br>VS<br>
                                    <span>科比很渣</span>
                                </td>
                                <td>主胜 <br>100金豆</td>
                                <td>未开奖</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <p class="guess-number-wrapper">竞猜编号：KJKKJJKJKGFFGS</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
       <div class="col-xs-8 col-xs-offset-2 text-center">
            <img src="/public/images/gamepoch-logo.png" alt="" style="width: 100%; padding: 10px; margin: 20px 0 0 0">
            <p style=" color: #999999; margin: 0">本活动纯属竞猜游戏</p>
            <p style=" color: #999999; margin: 5px">仅休闲娱乐，无任何博彩行为</p>
       </div>
    </div>
</body>

</html>