<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>电竞助手</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div>
        <div class="row">
            <div class="col-xs-12" style="padding:0px 0px">
                <div class="profile_wrapper">
                    <img class="profile_headimg" src="images/headimg.jpg" alt="">
                    <p style="color: white; font-size: 1.2em">祖国的一朵枪</p>
                    <p style="color: white; font-size: 1em">ID:8898974</p>
                    <p style="color: white; display:inline-block; padding: 0px 10%;">金豆 <span style="font-size: 2rem; display:inline-block; margin-top:5px; padding-left: 10px">100</span></p>
                    <a style="color: white; display:inline-block; padding: 0px 10%;border-left: 1px solid" href="/consume_history">查看记录 <span style="padding-left: 10px">> </span></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="divider-container">
                <h3 class="title"><span> 我的赛程 </span>
                </h3>
            </div>
            <div class="col-xs-12 text-light">
                <p class="text-left">我的比赛呢？</p>
                <p class="text-right">我想蒂花之秀！</p>
                <p class="text-left">你这么怂哪里的比赛？</p>
                <p class="text-right">请开始你的表演！</p>
            </div>
        </div>
        <div class="row">
            <div class="divider-container">
                <h3 class="title"><span> 其他赛事 </span>
                </h3>
            </div>
            <div id="tournament1" class="wrapper " style="border: 0px solid ">
                <div class="ribbon-wrapper-red ">
                    <div class="ribbon-red ">进行中</div>
                </div>
            </div>

            <div id="tournament2" class="wrapper " style="border: 0px solid ">
                <div class="ribbon-wrapper-red ">
                    <div class="ribbon-red ">进行中</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4 text-center">
                <p style="color:#929292">敬请期待</p>
            </div>
            <div class="loader">
                <div class="dot dot1"></div>
                <div class="dot dot2"></div>
                <div class="dot dot3"></div>
            </div>
        </div>
    </div>
      <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>