<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>电竞助手</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <h2>个人信息</h2>
            <hr>
            <div class="col-md-10 col-md-offset-1">
                <p>姓名：张三</p>
                <p>ID:8898974</p>
                <p>金币数量：0</p>
                <p>交易记录：<a href="/consume_history">查看</a></p>
            </div>
        </div>
        <div class="row">
            <h2>赛程</h2>
            <hr>
            <div class="col-md-10 col-md-offset-1">
                <p>暂无赛程安排</p>
            </div>
        </div>
        <div class="row">
            <h3>推荐的比赛</h3>
            <hr>
            <div class="container">
                <div class="wrapper" style="border: 1px solid">
                    <img src="/images/splashbg.jpg" alt="" style="width:100%">
                    <h5>亚洲锦标赛1</h5>
                    <p>场次：0</p>
                    <p>胜率：-</p>
                    <a type="button" href="#">参加比赛</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>