<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>电竞助手</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <video width="100%" src="http://www.w3school.com.cn/i/movie.ogg" controls></video> 
        </div>
        <div class="row">
            <img src="/public/images/battle-info.jpg" alt="" style="width: 100%">
            <div class="col-xs-6">
                <p>章三</p>
                <p>最近战绩：3-1</p>
                <p>赔率：0.98</p>
            </div>
            <div class="col-xs-6">
                <p>里斯</p>
                <p>最近战绩：3-1</p>
                <p>赔率：1.1</p>
            </div>
        </div>
        <div class="row">
            <h3>竞猜</h3>
            <hr>
            <ul>
                <li class="question">
                    <label>谁会投进更多的三分球？</label>
                    <br>
                    <input type="radio" name="q1"> 章三
                    <input type="radio" name="q1"> 里斯
                </li>
                <li class="question">
                    <label>谁会赢得最后的胜利？</label>
                    <br>
                    <input type="radio" name="q2"> 章三
                    <input type="radio" name="q2"> 里斯
                </li>
            </ul>
        </div>
    </div>
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>