<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>电竞助手</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="container">
        <div class="row">

        </div>
        <div class="row">
            <h2>直播预告</h2>
            <hr>
            <p>直播内容：NBA 2K18电竞赛</p>
            <p>直播时间：2017年11月1日下午1:00</p>
        </div>
        <div class="row">
            <h2>往期精彩回放</h2>
            <hr>
            <div class="col-xs-6">
                <video width="100%" src="http://www.w3school.com.cn/i/movie.ogg" controls></video>
            </div>
            <div class="col-xs-6">
                <video width="100%" src="http://www.w3school.com.cn/i/movie.ogg" controls></video>
            </div>
            <div class="col-xs-6">
                <video width="100%" src="http://www.w3school.com.cn/i/movie.ogg" controls></video>
            </div>
            <div class="col-xs-6">
                <video width="100%" src="http://www.w3school.com.cn/i/movie.ogg" controls></video>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>