<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>电竞助手</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css"> </head>

<body style="padding: 0; margin: 0px;">
    <div class="heading-image" style="width: 100%"> <img src="/images/tournament-cover-3.png" alt="" style="width: 100%"> </div>
    <div class="official-tour-container"> <img src="/images/official-tour.png" alt="" style="width: 100%">
        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-default video-panel">
                    <div class="panel-body"> <img src="/images/video-cover1.jpg" alt="" style="width: 100%">
                        <div class="panel-ribbon"> 16进8 </div>
                    </div>
                    <div class="panel-footer"> 炮弹队 VS 火车头队 </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default video-panel">
                    <div class="panel-body"> <img src="/images/video-cover2.jpg" alt="" style="width: 100%">
                        <div class="panel-ribbon"> 16进8 </div>
                    </div>
                    <div class="panel-footer"> 溜得不行 VS 头很硬 </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default video-panel">
                    <div class="panel-body"> <img src="/images/video-cover3.jpg" alt="" style="width: 100%">
                        <div class="panel-ribbon"> 16进8 </div>
                    </div>
                    <div class="panel-footer"> 来打我啊 VS 保罗很跳 </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default video-panel">
                    <div class="panel-body"> <img src="/images/video-cover2.jpg" alt="" style="width: 100%">
                        <div class="panel-ribbon"> 16进8 </div>
                    </div>
                    <div class="panel-footer"> 来打我啊 VS 保罗很跳 </div>
                </div>
            </div>
        </div>
        <div style="margin: 20px">
            <p style="text-align: center"><a href="">查看更多 ></a></p>
        </div>
    </div>
    <div class="tour-recommend-container"> <img src="/images/tour-recommend.jpg" alt="" style="width: 100%">
        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-default video-panel">
                    <div class="panel-body"> <img src="/images/video-cover1.jpg" alt="" style="width: 100%"> </div>
                    <div class="panel-footer"> 炮弹队 VS 火车头队 </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default video-panel">
                    <div class="panel-body"> <img src="/images/video-cover2.jpg" alt="" style="width: 100%"> </div>
                    <div class="panel-footer"> 溜得不行 VS 头很硬 </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default video-panel">
                    <div class="panel-body"> <img src="/images/video-cover3.jpg" alt="" style="width: 100%"> </div>
                    <div class="panel-footer"> 来打我啊 VS 保罗很跳 </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default video-panel">
                    <div class="panel-body"> <img src="/images/video-cover2.jpg" alt="" style="width: 100%"> </div>
                    <div class="panel-footer"> 来打我啊 VS 保罗很跳 </div>
                </div>
            </div>
        </div>
        <div style="margin: 20px">
            <p style="text-align: center"><a href="">查看更多 ></a></p>
        </div>
    </div>
</body>

</html>