<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <!-- <embed width="640" height="360" allownetworking="all" allowscriptaccess="always" src="https://staticlive.douyucdn.cn/common/share/play.swf?room_id=851040" quality="high" bgcolor="#000" wmode="phone" allowfullscreen="true" allowFullScreenInteractive="true"
        type="application/x-shockwave-flash"> -->
    <video src="https://m.douyu.com/851040?from=singlemessage" class="video" webkit-playsinline="" playsinline="" controls="controls">
          <span>您的手机版本，网页版暂未能支持！</span>
      </video>
    <!-- <video src="https://staticlive.douyucdn.cn/common/share/play.swf?room_id=851040"></video> -->
</body>

</html>