<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>电竞助手</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css"> </head>

<body>
    <div class="container" style="padding: 0">
        
        <div class="row">
            <video src="http://www.w3school.com.cn/i/movie.ogg" poster="/public/images/video-postimg.jpg" controls style="width: 100%"></video>
        </div>

        <div class="row" style="padding: 0"> <img src="/public/images/comment-detail.jpg" alt="" style="padding: 0px; width: 100%">
            <p style="line-height: 1.6em; text-indent: 2em">刷数据这件事情在NBA历史上从来都不罕见，除却最 著名的张伯伦100分之战外，大到大卫·汤普森和 乔治·格文、沙克·奥尼尔和大卫·罗宾逊这两次得分王之 争；小到里基·戴维斯往自家篮筐投篮刷篮板——历史记住 了这些事情，可绝不是把它们当榜样来歌颂的。</p>
            <p style="line-height: 1.6em; text-indent: 2em">哈登不爽的原因很简单，凯尔文·墨菲在1978年创造 的队史得分纪录不过是57分，在第四节连续3次跳投尝试 不进后，哈登爽快地放弃了破纪录尝试。以登哥如今的比赛 智慧，他很明白：这1分得不得、这纪录破不破，对于他的 生涯成就不会有丝毫影响，正如哈基姆·奥拉朱旺先生甚至 不在火箭队史单场得分前5名之列，可在队史第一人宝座上 的位置却绝不会发生半点松动。 </p>
            <!--
            <div class="col-xs-5 player-Info-wrapper">
                <p>玩家1</p>
                <p>姓名：<strong>章三</strong></p>
                <p>赛区：<strong>华东赛区</strong></p>
            </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-5 player-Info-wrapper">
                <p>玩家2</p>
                <p>姓名：<strong>李四</strong></p>
                <p>赛区：<strong>华东赛区</strong></p>
            </div>
--></div>
    </div>
</body>

</html>