body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.text-light {
    color: #c9c9c9;
}

.wrapper+.wrapper {
    margin-top: 10px;
}

.video-container {
    max-width: 100%;
    text-align: center;
}

video {
    width: 100%;
}

.player-Info-wrapper {
    border: 2px solid;
    margin: 0;
}

.question+.question {
    margin: 10px;
}

.small-font {
    font-size: 12px;
    -webkit-transform-origin-x: 0;
    -webkit-transform: scale(0.90);
    transform: scale(0.9);
}

.smallsize-font {
    font-size: 10.8px;
}


/* Profile wrapper*/

.profile_wrapper {
    background: url("../images/profile-bg.jpg") center center;
    background-size: cover;
    text-align: center;
}

.profile_headimg {
    margin: 20px auto;
    width: 30%;
}


/* Divider */

.divider-container {
    width: 100%;
    margin: 10px auto;
}

.divider-container h3.title {
    font-size: 0.5em;
    margin-bottom: 3em;
    text-align: center;
    font-weight: normal;
    line-height: 1.1;
}

.divider-container h3.title span {
    display: block;
    font-size: 1.5rem;
    color: #151515;
    position: relative;
}

.divider-container h3.title span:before,
.divider-container h3.title span:after {
    content: '';
    position: absolute;
    top: 54%;
    background: #b1b0b0;
    width: 38%;
    height: 1px;
}

.divider-container h3.title span:before {
    left: 0%;
}

.divider-container h3.title span:after {
    right: 0%;
}


/* Ribbon */

#tournament1 {
    margin: 20px auto;
    width: 90%;
    height: 200px;
    background: url('/images/tournament-cover.jpg') center center no-repeat;
    background-size: cover;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 90;
}

#tournament2 {
    margin: 20px auto;
    width: 90%;
    height: 200px;
    background: url('/images/tournament-cover-2.jpg') center center no-repeat;
    background-size: cover;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 90;
}

#tournament3 {
    margin: 20px auto;
    width: 90%;
    height: 200px;
    background: url('/images/tournament-leaderboard-cover.jpg') center center no-repeat;
    background-size: cover;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: -1;
}

.ribbon-wrapper-red {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
}

.ribbon-red {
    font: 15px Sans-Serif;
    color: #fff;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 0;
    left: -2px;
    top: 15px;
    width: 120px;
    background-color: #e71d2b;
    color: white;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.ribbon-red:before,
.ribbon-red:after {
    content: "";
    border-top: 3px solid #6e8900;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    bottom: -3px;
}

.ribbon-red:before {
    left: 0;
}

.ribbon-red:after {
    right: 0;
}


/* Loader */

.loader {
    font-size: 20px;
    position: relative;
    width: 0.8em;
    height: 1.2em;
    margin: 30px auto;
    text-align: center;
}

.dot {
    background: #929292;
    position: absolute;
}

.dot1 {
    width: 0.6em;
    height: 0.6em;
    border-radius: 0.6em;
}

.dot2 {
    top: 0.8em;
    left: 0.1em;
    width: 0.4em;
    height: 0.4em;
    border-radius: 0.4em;
}

.dot3 {
    top: 1.4em;
    left: 0.2em;
    width: 0.2em;
    height: 0.2em;
    border-radius: 0.2em;
}


/* Match result list*/

.match-result-list {
    display: flex;
    flex-direction: column;
    margin: 0px 15px;
    padding-top: 10px;
}

.match-result-wrapper {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #e5e4e4;
    padding-top: 10px;
}

.match-result-wrapper-body {
    display: flex;
    flex: 1 1 auto;
}

.match-result-wrapper-footer {
    display: flex;
    flex: 0 1 auto;
}

.match-result-wrapper-body-left {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.match-result-wrapper-body-right {
    display: flex;
    flex: 1 1 auto;
    color: red;
    font-size: 2em;
    display: -webkit-flex;
    align-items: center;
    max-width: 100px;
    float: right;
    justify-content: flex-end;
}

.player-detail {
    display: flex;
    flex: 1 1 auto;
}

.player-avatar {
    width: 40px;
    height: 40px;
    flex: 0 1 auto;
    align-items: center;
}

.player-nickname {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    margin-bottom: 0px;
    padding-left: 10px;
    width: 120px
}

.player-score {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    font-size: 1.5em;
    margin-bottom: 0px;
    justify-content: center;
}

.win {
    color: red;
}

.lose {
    color: blue
}

.bold-font {
    font-weight: bold;
}

.match-date {
    flex: 0 1 auto;
}

.match-location {
    flex: 1 1 auto;
    text-align: center;
}


/* Linear gradient */

.linear-gradient-wrapper {
    color: #F2AE11;
    font-size: 0.4em;
    text-align: center;
    font-weight: 500;
    line-height: 1.1;
    margin: 10px auto;
}

.linear-gradient-wrapper span {
    display: block;
    font-size: 3em;
    color: #212121;
    position: relative;
}

.linear-gradient-wrapper span:before,
.linear-gradient-wrapper span:after {
    content: '';
    position: absolute;
    top: 52%;
    width: 32%;
    height: 2px;
}

.linear-gradient-wrapper span:before {
    left: 5%;
    background: linear-gradient(to right, #ccc, #000);
}

.linear-gradient-wrapper span:after {
    right: 5%;
    background: linear-gradient(to left, #ccc, #000);
}

.head-img {
    border-radius: 50%;
    border: 10px solid white;
    -moz-box-shadow: 0px 0px 10px #333333;
    -webkit-box-shadow: 0px 0px 10px #333333;
    box-shadow: 0px 0px 10px #333333;
    margin: 10px 0 5px 0;
}

.left {
    background: red;
    width: 50%;
    height: 20px;
    align-items: center;
}

.right {
    background: blue;
    width: 50%;
    height: 20px;
}

p {
    margin: 10px 0px 0px 0px;
}


/* Video panel */

.videos-container {
    padding: 10px 0;
}

.videos-container .col-xs-6 {
    padding: 5px;
}

.official-tour-container .col-xs-6 {
    padding: 5px;
}

.tour-recommend-container .col-xs-6 {
    padding: 5px;
}

.tour-recommend-container .video-panel {
    margin: 5px 0;
}

.official-tour-container .video-panel {
    margin: 5px 0;
}

.panel-ribbon {
    background: red;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    width: 30%;
    position: absolute;
    top: 20px;
    color: white;
    padding-bottom: 3px;
    font-size: 80%;
}

.video-panel {
    margin: 0px auto;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.video-panel .panel-body {
    padding: 0;
}

.video-panel .panel-footer {
    background: white;
    padding: 5px 10px;
    font-size: 80%;
    text-align: center;
}


/* Guess panel*/

.guess-panel {
    margin: 10px auto;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 10px #333333;
}

.guess-panel .panel-title {
    font-weight: 900;
    border-radius: 15px;
}

.guess-panel table {
    margin-bottom: 0px;
}

.guess-panel .panel-heading {
    text-align: center;
    background-color: white;
    color: #030303;
    border: none;
    border-radius: 8px;
}

.guess-panel th {
    color: white;
    font-size: 70%;
    text-align: center;
}

.guess-panel tr {
    vertical-align: baseline;
}

.guess-panel td {
    text-align: center;
    vertical-align: middle!important;
}

.guess-panel .panel-body {
    padding: 0 5px;
}

.guess-panel .panel-footer {
    text-align: center;
    background-color: white;
    border: none;
    color: #999999;
    padding: 0px 5px;
    border-radius: 8px;
}

.guess-number-wrapper {
    width: 100%;
    border-top: 5px solid #e03d3d;
    padding: 10px 0px;
}


/* Profile container */

.profile-container {
    display: flex;
    justify-content: space-between;
    background: white;
}

.profile-container .heading-left {
    flex: 0 1 auto;
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 10px;
    margin-left: -10px;
}

.profile-container .heading-middle {
    flex: 1 1 auto;
    justify-content: center;
    margin-top: 15px;
    padding-left: 20px;
}

.profile-container .heading-right {
    flex: 0 1 auto;
    margin-top: 15px;
}


/*
 * guess-record-container
 */

.guess-record-container {
    margin-top: 10px;
    padding: 0px;
    background-color: white;
}

.guess-record-container .list-group {
    border-radius: none;
}

.guess-record-container .list-group-item {
    border-left: none;
    border-right: none;
}

.guess-record-container .list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.guess-record-container .list-group-item:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: none;
}

.tabs-wrapper {
    width: 100%;
    padding: 0px;
    margin: 0 auto;
    background: #fff;
}

.tabs-header {
    height: 40px;
}

.guess-record-container section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}

.guess-record-container input {
    display: none;
}

.guess-record-container label {
    display: inline-block;
    margin: 0 0 1px;
    padding: 5px 0px;
    font-weight: 400;
    text-align: center;
    color: black;
    border: 1px solid transparent;
}

.guess-record-container input:checked+label {
    color: #fe0404;
    border-bottom: 3px solid #fe0404;
}

@media screen and (max-width: 650px) {
    .guess-record-container label {
        font-size: 0;
    }
    .guess-record-container label:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    .guess-record-container label {
        padding: 7px;
        font-size: 120%;
    }
}


/* list group */

.list-item {
    display: flex;
}

.list-item .item-left {
    flex: 1 1 auto;
}

.list-item .item-right {
    flex: 0 1 auto;
    display: flex;
}

.grey {
    color: #999999;
}

.red {
    color: #fe3636;
}

.blue {
    color: #0e2bbe;
}

.item-left h5 {
    font-size: 16px;
    font-weight: bold;
}

.item-left p {
    margin: 5px 0;
    color: #999999;
}

.list-item .item-right p {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    margin-bottom: -1px;
}

.gold-number {
    padding-left: 10px;
    margin-bottom: -1px;
}


/* Live list */

.live-list-item {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #e9e9e9;
}

.live-list-item:first-child {
    margin-top: -20px;
}

.live-list-item:last-child {
    border-bottom: none;
}

.live-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

.live-wrapper-middle {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.live-wrapper-middle p {
    font-size: 80%;
    margin: 5px;
}

.live-wrapper-middle a {
    font-size: 60%;
}

.guess-button {
    max-width: 100px;
    margin: 0 auto;
    background-color: #2c56f3;
}


/* VideoJs*/

.video-js {
    /* The base font size controls the size of everything, not just text.
     All dimensions use em-based sizes so that the scale along with the font size.
     Try increasing it to 15px and see what happens. */
    font-size: 10px;
    /* The main font color changes the ICON COLORS as well as the text */
    color: #fff;
}


/* The "Big Play Button" is the play button that shows before the video plays.
   To center it set the align values to center and middle. The typical location
   of the button is the center, but there is trend towards moving it to a corner
   where it gets out of the way of valuable content in the poster image.*/

.vjs-default-skin .vjs-big-play-button {
    /* The font size is what makes the big play button...big. 
     All width/height values use ems, which are a multiple of the font size.
     If the .video-js font-size is 10px, then 3em equals 30px.*/
    font-size: 3em;
    /* We're using SCSS vars here because the values are used in multiple places.
     Now that font size is set, the following em values will be a multiple of the
     new font size. If the font-size is 3em (30px), then setting any of
     the following values to 3em would equal 30px. 3 * font-size. */
    /* 1.5em = 45px default */
    line-height: 1.5em;
    height: 1.5em;
    width: 3em;
    /* 0.06666em = 2px default */
    border: 0.06666em solid #fff;
    /* 0.3em = 9px default */
    border-radius: 0.3em;
    /* Align center */
    left: 50%;
    top: 50%;
    margin-left: -1.5em;
    margin-top: -0.75em;
}


/* The default color of control backgrounds is mostly black but with a little
   bit of blue so it can still be seen on all-black video frames, which are common. */

.video-js .vjs-control-bar,
.video-js .vjs-big-play-button,
.video-js .vjs-menu-button .vjs-menu-content {
    /* IE8 - has no alpha support */
    background-color: #2B333F;
    /* Opacity: 1.0 = 100%, 0.0 = 0% */
    background-color: rgba(43, 51, 63, 0.7);
}

.video-js .vjs-big-play-button {
    font-size: 2.5em;
    line-height: 2.3em;
    height: 2.5em;
    width: 2.5em;
    -webkit-border-radius: 2.5em;
    -moz-border-radius: 2.5em;
    border-radius: 2.5em;
    background-color: #73859f;
    background-color: rgba(115, 133, 159, 0.5);
    border-width: 0.1em;
    margin-top: -1.25em;
    margin-left: -1.25em;
}

.video-js.vjs-playing .vjs-tech {
    pointer-events: auto;
}


/* 中间的播放箭头 */

.vjs-big-play-button .vjs-icon-placeholder {
    font-size: 1.63em;
}


/* 加载圆圈 */

.vjs-loading-spinner {
    font-size: 2.5em;
    width: 1em;
    height: 2em;
    border-radius: 1em;
    /*    border-bottom-right-radius: none;*/
    margin-top: -1em;
    margin-left: -1.5em;
}

.vjs-paused .vjs-big-play-button,
.vjs-paused.vjs-has-started .vjs-big-play-button {
    display: block;
}


/* Slider - used for Volume bar and Progress bar */

.video-js .vjs-slider {
    background-color: #73859f;
    background-color: rgba(115, 133, 159, 0.5);
}


/* The slider bar color is used for the progress bar and the volume bar
   (the first two can be removed after a fix that's coming) */

.video-js .vjs-volume-level,
.video-js .vjs-play-progress,
.video-js .vjs-slider-bar {
    background: #fff;
}


/* The main progress bar also has a bar that shows how much has been loaded. */

.video-js .vjs-load-progress {
    /* For IE8 we'll lighten the color */
    background: #bfc7d3;
    /* Otherwise we'll rely on stacked opacities */
    background: rgba(115, 133, 159, 0.5);
}


/* The load progress bar also has internal divs that represent
   smaller disconnected loaded time ranges */

.video-js .vjs-load-progress div {
    /* For IE8 we'll lighten the color */
    background: white;
    /* Otherwise we'll rely on stacked opacities */
    background: rgba(115, 133, 159, 0.75);
}


/*Dual container*/

.dual-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dual-container .side {
    font-family: Arial, Helvetica, sans-serif;
    width: 45%;
    height: 3em;
    position: relative;
    margin: 0;
    color: #fff;
}

.dual-container .left {
    background: #cb2237;
    padding: 0 3em 0 0;
}

.dual-container .left:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 3em solid #fff;
    border-left: 3em solid transparent;
}

.dual-container .right {
    background: #0e2bbe;
    padding: 0 0 0 3em;
}

.dual-container .right:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 3em solid #fff;
    border-right: 3em solid transparent;
}

.scoreLabel {
    font-size: 1.4em;
    line-height: 1.2em;
    text-align: center;
    width: 100%;
}


/*Guess container*/

.guess-container {
    margin: 10px 0;
    min-height: 20%;
    max-height: 300px;
    overflow: scroll;
}

.guess-container .button-group {
    height: 2em;
    width: 90%;
}

.guess-container .button p{
    line-height: 1em;
    margin: 0;
    padding: 0;
}

.guess-container .button-default     {
    background: white;
    border: 1px solid #e5e5e5;
    
}

.guess-container .panel-heading {
    background: white;
    border: none;
}

.guess-container .panel-body {
    padding: 0;
    margin: 0;
}

.guess-container .panel-footer {
    background: white;
    border: none;
}

.guess-container button {
    width: 50%;
    height: 100%;
}

#GuessModal .modal-dialog {
        top: 30%;
}
